@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="card" style="width: 18rem;" id="views">
  <h2>Add Engineer</h2>

  <h3>Add an engineer to this machine: @Html.DisplayFor(model => model.MachineName)</h3>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    <div class="form-group">
      @Html.Label("Select an engineer:")
      @Html.DropDownList("EngineerId")
    </div>

    <input type="submit" value="Add Engineer" class="btn btn-primary" />
  }

    @Html.ActionLink("Back to List", "Index")
</div>