@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName)
  @Html.TextBoxFor(model => model.MachineName, new { required = "required" })
  <br />
  @* @Html.LabelFor(model => model.MachineNumber)
  @Html.TextBoxFor(model => model.MachineNumber, new { required = "required" }) *@
  <br />
  <input type="submit" value="Add new machine" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>