@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Edit this machine: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.MachineName)
  @Html.EditorFor(model => model.MachineName)

  @* @Html.LabelFor(model => model.CourseNumber)
  @Html.EditorFor(model => model.CourseNumber) *@

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>