@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>

<p>@Html.ValidationMessageFor(model => model.EngineerName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)

  @Html.LabelFor(model => model.EngineerLicense)
  @Html.TextBoxFor(model => model.EngineerLicense)

  @Html.LabelFor(model => model.MachineId)
  @Html.DropDownListFor(model => model.MachineId, ViewBag.MachineId as SelectList, "Select a machine")

  <input type="submit" value="Add new engineer" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all Engineers", "Index")</p>