@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Edit this engineer: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.EngineerName)
  @Html.EditorFor(model => model.EngineerName)

  @Html.LabelFor(model => model.EngineerLicense)
  @Html.EditorFor(model => model.EngineerLicense)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>